# Bot Info
BOT_TOKEN=your_bot_token_here

# Database and Channel IDs
DB_CHANNEL_ID=your_db_channel_id
INFO_CHANNEL_ID=5524168471

# API Settings
ITUNES_BASE_URL=https://3rah.ir/music
API_BASE_URL=https://3rah.ir/users/index.php
API_TOKEN=your_api_token_here

# Spotify Credentials
SPOTIFY_CLIENT_ID=your_spotify_client_id
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret

# Optional Settings
proxy=
OFFLINE_MODE=False
PORT=8080
